<!doctype html>
<html>
<head>
    <title>Passport JS Email and Google</title>
    <script src="https://kit.fontawesome.com/81a08d730d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Passport JS Email and Google</h1>

        <p>Login or Register </p>

        <!-- <a href="/api/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/api/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
        <!-- <a href="/api/login" class="btn btn-default"><span class="fa fa-user"></span> Logout</a> -->
        <form action="/api/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>
</div>
</body>
</html>